<div class="why clearfix">
  <div class="container">
    <h2>为什么选择萝卜匠？</h2>
    <div>
      <div class="col">
        <div class="item exp">
          <h4>丰富的经验</h4>
          <div class="img"><%= image_tag("home/why/why-22.jpg") %></div>
          <div>
            萝卜匠有超过8年的互联网行业经验，在电子商务系统，旅游行业解决方案，装修平台系统，品牌塑造营销等各方面有深入独到的成功经验。
            利用这些丰富的经验，萝卜匠能迅速理解您的需求，并且及时为您想您未曾想到的方方面面。
          </div>
        </div>
      </div>

      <div class="col">
        <div class="item tp">
          <h4>专业的团队和工作流程</h4>
          <div class="img"><%= image_tag("home/why/why-1.jpg") %></div>
          <div>
            <div>萝卜匠是(并且会一直是)一支小而美，富有战斗力的，同时也是国内顶尖的敏捷开发团队。</div>
            <div>我们利用trello等协同工具实时沟通和管理项目，基于scrum的敏捷软件开发流程。
              因此，我们能做到内部零损耗，从而专注在高品质产品的打造上。</div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="item lightning">
          <h4>迅如闪电的开发速度</h4>
          <div class="img"><%= image_tag("home/why/why-3.jpg") %></div>
          <div>
            萝卜匠采用业界最先进的Ruby On Rails作为主力开发工具。
            资深的工程师配合称手的高效率工具能让开发速度达到前所未有的高度。
            而配合Linux,Nosql,Memcache,七牛云存储,CDN等技术和服务能让您的系统运行如飞。
          </div>
        </div>
      </div>

      <div class="col">
        <div class="item master">
          <h4>追求极致的匠人精神</h4>
          <div class="img"><%= image_tag("home/why/why-6.jpg") %></div>
          <div>
            传承自父辈的“里外都要漂亮”的手艺人态度，萝卜匠对细节精益求精，因为我们不止于做一个网站，更是在打造一款独一无二的艺术品。
            萝卜匠更有忠于合同的契约精神。
            从最开始的沟通需求，到按时的系统交付和维护，萝卜匠负责到底并且做到极致！
          </div>
        </div>
      </div>

      <div class="col">
        <div class="item quality">
          <h4>媲美国际水准的高品质</h4>
          <div class="img"><%= image_tag("home/why/why-51.jpg") %></div>
          <div>
            国际级的实力打造国际水平的产品。
            我们熟悉RDW技术，在版面和尺寸的把握上游刃有余，能保证您的系统在任何手持设备下的完美呈现。
            我们打造运行速度极快，安全性极高的系统，并且交付强健稳定高可维护的代码。
            我们也整合业内领先的第三方服务力求让您的系统无懈可击！
          </div>
        </div>
      </div>

      <div class="col">
        <div class="item charge">
          <h4>透明规范绝无隐性收费</h4>
          <div class="img"><%= image_tag("home/why/charge.jpg") %></div>
          <div>
            在隐形收费几乎已经成为行业惯例的时候，我们始终坚持明码标价，绝无任何强迫消费或隐形消费。
            萝卜匠坚持走口碑发展的路线，不做任何百度竞价推广广告，不配备任何一名纯销售人员。
            您所支付的费用，将全部用于打造我们共同期待的完美的网站和IT系统，而不会变成任何销售人员的提成。
          </div>
        </div>
      </div>

    </div>
  </div>
</div>