---
title: "上海网站建设::企业建站::IT系统建设::顾问咨询::ROR+RDW+敏捷开发"
---

<div class="banners">
  <div class="prev"></div>
  <div class="next"></div>

  <div class="container">
    <ul>
      <li style="display: block;">
        <%= image_tag("home/banner/prefessional-1.jpg", width: '100%') %>
      </li>
      <li>
        <%= image_tag("home/banner/success.jpg", width: '100%') %>
      </li>
      <li>
        <%= image_tag("home/banner/surpass.jpg", width: '100%') %>
      </li>
    </ul>
  </div>
</div>

<%= partial "partials/home/contacts" %>

<%= partial "partials/home/why" %>

<div class="voices">
  <div class="container">
    <div class="item">
      <div class="face">
          <img src="/images/home/users/jiudian.jpg"/>
      </div>
      <div class="info">
        <div class="text">
          "前期帮助我们整理思路，到项目具体的实施上线及运营跟踪，萝卜匠用他们专业的知识和富有的经验令到我们少走了很多弯路，
          不但如期交付了强大且拥有极致体验的系统，在后期的运营中萝卜匠也给我们提供了坚强的后盾。"
        </div>
        <div class="name">
          上海九点CEO 黄凌
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/home/services" %>

<div class="voices">
  <div class="container">
    <div class="box">
      <div class="face">
        <img src="/images/home/users/yidan.jpg"/>
      </div>
      <div class="info">
        <div class="text">
          “萝卜匠的开发速度让人惊叹，依靠他们资深的工程师能准确把握我们的需求，配合专业的开发流程使得我们的「奇思妙想」得以很快上线从而赢得了市场竞争的第一步。”
        </div>
        <div class="name">
          上海一单科技创始人 史文威
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/home/processes" %>

<div class="voices">
  <div class="container">
    <div class="box">
      <div class="face">
        <img src="/images/home/users/adorona.jpg" />
      </div>
      <div class="info">
        <div class="text">
          “萝卜匠为我们设计并实施了ADORONA婚纱礼服外贸全套网络化解决方案，通过出色的网站设计和产品规划，我们产品的销售取得了令同行羡慕无比的巨大增长”
        </div>
        <div class="name">
          上海赛双贸易董事长 王华
        </div>
      </div>
    </div>
  </div>
</div>